* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
}

a:visited {
  color: unset;
}

.sidebar {
  background-color: #d9d9d9;
  width: 7rem;
  height: 100%;
  position: fixed;
  padding: 2rem 1rem;
  z-index: 100;
}

.sidebar #btn {
  font-size: 3rem;
  width: 100%;
  text-align: center;
  padding: 0.8rem;
  margin-bottom: 2rem;
}

.sidebar #btn:hover {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  cursor: pointer;
}

.sidebar .profile img {
  width: 100%;
  border-radius: 50%;
  border: 2px solid white;
}

.sidebar .profile .name {
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  text-align: end;
  margin: 2rem 0;
}

.sidebar .profile .name span {
  text-transform: uppercase;
  display: block;
}

.sidebar .profile .position {
  display: none;
}

.sidebar .personal-info {
  margin-top: 2rem;
}

.sidebar .personal-info .property {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.8rem;
  position: relative;
}

.sidebar .personal-info .property:hover {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
  border-right: 2px solid #4b667b;
  cursor: pointer;
}

.sidebar .personal-info .property:hover .property-name {
  display: block;
  position: absolute;
  left: 105%;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #f2f2f2;
  white-space: nowrap;
  padding: 0.8rem;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  border-right: 2px solid #4b667b;
}

.sidebar .personal-info .property:last-child:hover .property-name {
  white-space: unset;
  top: 0;
}

.sidebar .personal-info .property:last-child:hover .property-name span {
  white-space: nowrap;
}

.sidebar .personal-info .property i {
  font-size: 3rem;
}

.sidebar .personal-info .property .property-name {
  font-size: 1.5rem;
  display: none;
}

.sidebar .social-media {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 4rem;
  font-size: 3rem;
}

.sidebar .social-media i {
  padding: 0.8rem;
}

.sidebar .social-media i:hover {
  background-color: #f2f2f2;
  border-radius: 0.5rem;
}

.sidebar.active {
  width: 26rem;
  padding: 4rem 2rem;
}

.sidebar.active #btn {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.sidebar.active .profile img {
  border-width: 4px;
}

.sidebar.active .profile .name {
  text-align: center;
  -webkit-writing-mode: unset;
      -ms-writing-mode: unset;
          writing-mode: unset;
  font-size: 3rem;
}

.sidebar.active .profile .position {
  display: block;
  background-color: #4b667b;
  text-align: center;
  padding: 0.2rem;
  border-radius: 0.4rem;
  font-size: 1.4rem;
  color: white;
  letter-spacing: 0.2rem;
}

.sidebar.active .personal-info .property {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sidebar.active .personal-info .property i {
  font-size: 2rem;
  margin-right: 1rem;
}

.sidebar.active .personal-info .property .property-name {
  display: block;
  font-size: 1.6rem;
}

.sidebar.active .personal-info .property:hover {
  background-color: #d9d9d9;
  cursor: default;
  border: unset;
}

.sidebar.active .personal-info .property:hover .property-name {
  position: unset;
  background-color: #d9d9d9;
  padding: 0;
  border: unset;
  white-space: unset;
}

.sidebar.active .personal-info .property:last-child {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.sidebar.active .personal-info .property:last-child span {
  display: block;
}

.sidebar.active .social-media {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.main-content {
  width: 100%;
  padding: 2rem;
  padding-left: 9rem;
}

.main-content .cv-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 1.8rem;
  margin-top: 1rem;
}

.main-content .cv-item .cv-item-titel {
  position: relative;
  width: 100%;
}

.main-content .cv-item .cv-item-titel .titel-name {
  text-transform: uppercase;
  font-weight: bold;
  padding: 0 1rem;
  background-color: white;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}

.main-content .cv-item .cv-item-titel .line {
  background-color: #d9d9d9;
  width: 100%;
  height: 1rem;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  z-index: -1;
}

.main-content .cv-item-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0.5rem;
  font-size: 1.2rem;
  margin: 0 0 0 0.9rem;
  padding: 0.8rem 0 0.8rem 1.6rem;
  border-left: 0.3rem solid #d9d9d9;
}

.main-content .cv-item-content .date {
  color: #8c8c8c;
  font-weight: bold;
}

.main-content .cv-item-content .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  gap: 0.5rem;
}

.main-content .cv-item-content .wrapper .item-with-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 0.5rem;
}

.main-content .cv-item-content .wrapper .item-with-logo i {
  font-size: 1.8rem;
}

.main-content .cv-item-content .wrapper .item-with-logo .language {
  width: 1.8rem;
  height: 1.8rem;
  background-color: black;
  color: white;
  font-size: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 0.25rem;
}

.main-content .no-border {
  border-left: unset;
}

@media screen and (min-width: 610px) {
  body {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .sidebar, .active {
    position: unset;
    height: unset;
    width: 40rem;
    padding: 4rem 2rem;
  }
  .sidebar #btn, .active #btn {
    display: none;
  }
  .sidebar .profile img, .active .profile img {
    border-width: 4px;
  }
  .sidebar .profile .name, .active .profile .name {
    text-align: center;
    -webkit-writing-mode: unset;
        -ms-writing-mode: unset;
            writing-mode: unset;
    font-size: 3rem;
  }
  .sidebar .profile .position, .active .profile .position {
    display: block;
    background-color: #4b667b;
    text-align: center;
    padding: 0.2rem;
    border-radius: 0.4rem;
    font-size: 1.4rem;
    color: white;
    letter-spacing: 0.2rem;
  }
  .sidebar .personal-info .property, .active .personal-info .property {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .sidebar .personal-info .property i, .active .personal-info .property i {
    font-size: 2rem;
    margin-right: 1rem;
  }
  .sidebar .personal-info .property .property-name, .active .personal-info .property .property-name {
    display: block;
    font-size: 1.6rem;
  }
  .sidebar .personal-info .property:hover, .active .personal-info .property:hover {
    background-color: #d9d9d9;
    cursor: default;
    border: unset;
  }
  .sidebar .personal-info .property:hover .property-name, .active .personal-info .property:hover .property-name {
    position: unset;
    background-color: #d9d9d9;
    padding: 0;
    border: unset;
    white-space: unset;
  }
  .sidebar .personal-info .property:last-child, .active .personal-info .property:last-child {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .sidebar .personal-info .property:last-child span, .active .personal-info .property:last-child span {
    display: block;
  }
  .sidebar .social-media, .active .social-media {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main-content {
    padding: 2rem;
  }
  .main-content .cv-item-content {
    font-size: 1.3rem;
  }
}

@media screen and (min-width: 950px) {
  body {
    max-width: 1050px;
    margin: 0 auto;
    -webkit-box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
            box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.1);
  }
  .main-content .cv-item-content {
    font-size: 1.4rem;
    padding: 2rem 0 2rem 2rem;
  }
  .main-content .cv-item-content .wrapper {
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    gap: 1rem;
  }
  .main-content .cv-item-content .wrapper .item-with-logo i {
    font-size: 2.2rem;
  }
}
/*# sourceMappingURL=style.css.map */




@media print {
  body {
    font-size: 12pt !important;
    margin: 0 !important;
    display: block !important;
  }

  /* Sidebar on top */
  .sidebar, .sidebar.active {
    position: relative !important;
    width: 100% !important;
    height: auto !important;
    padding: 1rem !important;
    float: none !important;
    display: block !important;
  }

  /* Profile section horizontal */
  .sidebar .profile {
    display: flex !important;
    align-items: center !important;
    gap: 1rem !important;
    flex-wrap: nowrap !important;
    writing-mode: horizontal-tb !important;
    margin-bottom: 1rem !important;
  }

  .sidebar .profile img {
    width: 5rem !important;
    height: 5rem !important;
    border-width: 2px !important;
  }

  .sidebar .profile .name {
    writing-mode: horizontal-tb !important;
    text-align: left !important;
    font-size: 1.6rem !important;
    font-weight: 700 !important;
    margin: 0 !important;
    display: block !important;
  }

  .sidebar .profile .position {
    writing-mode: horizontal-tb !important;
    text-align: left !important;
    font-size: 1.2rem !important;
    margin: 0 !important;
    display: block !important;
  }

  /* Personal info block */
  .sidebar .personal-info {
    display: block !important;
    margin-top: 1rem !important;
  }

  .sidebar .personal-info .property {
    display: flex !important;
    align-items: center !important;
    gap: 0.5rem !important;
    padding: 0 !important;
    font-size: 1.2rem !important;
    position: static !important;
  }

  .sidebar .personal-info .property .property-name {
    display: inline !important;
  }

  /* Social media icons horizontal */
  .sidebar .social-media {
    display: flex !important;
    flex-direction: row !important;
    gap: 0.5rem !important;
    font-size: 1.5rem !important;
    margin-top: 1rem !important;
  }

  .sidebar i {
    display: inline-block !important;
  }

  /* Hide icons in main content */
  .main-content i {
    display: none !important;
  }

  /* Main content block layout */
  .main-content {
    width: 100% !important;
    margin-left: 0 !important;
    display: block !important;
    padding: 0 !important;
  }

  .main-content .cv-item,
  .main-content .cv-item-content,
  .main-content .cv-item-content .wrapper {
    display: block !important;
    margin: 0 !important;
    padding: 0 !important;
  }

  /* Remove left border on items for print */
  .main-content .cv-item-content {
    border-left: none !important;
    padding-left: 0 !important;
  }
}



